h1 {
    font: 24px Serif;
    border-bottom: 1px solid black;
}

th {
    background-color: peachpuff;
    color:black;
    padding: 5px;
}

td {
    background-color: palegoldenrod;
    color: black;
    padding: 5px;
}

.error {
    font-style: italic;
    color: #D8000C;
}

.message {
    font-style: italic;
    color: #008000;
}
