.DS_Store
app/.DS_Store
app/admin/.DS_Store
app/include/.DS_Store
app/json/.DS_Store
app/resources/.DS_Store
app/resources/data/.DS_Store
app/sql/.DS_Store
app/student/.DS_Store
metrics/.DS_Store
minutes/.DS_Store
minutes/internal/.DS_Store
minutes/supervisor/.DS_Store
presentations/.DS_Store
testing/.DS_Store
testing/json_checker/.DS_Store
testing/json_checker/testcases/.DS_Store
testing/json_checker/testcases/in/.DS_Store
testing/json_checker/testcases/out/.DS_Store
testing/json_checker/testcases/yours/.DS_Store